html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; /* Fond clair */
    color: #333; /* Texte sombre pour un bon contraste */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #0066cc; /* Bleu dynamique pour le header */
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile sous le header */
}

.header-left a img {
    width: 150px; /* Taille du logo */
}

.header-center h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.header-center p {
    font-size: 1.1em;
    color: #e0e0e0; /* Texte plus clair pour le sous-titre */
}




/* Main content area */
main {
    padding: 30px 20px;
}
#cases-dynamiques {
    display: flex;

}



/* Style de chaque carte */
.case {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Animation lors du survol */
    display: flex;
    flex-direction: column; /* Organiser le contenu de la carte de manière verticale */
    justify-content: space-between; /* Espacer le titre et la description */
}


.case h2 {
    margin: 0;
    font-size: 1.5em; /* Taille du titre */
    color: #333;
}

.case p {
    font-size: 1em;     /* Taille du texte de la description */
    color: #555;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile au-dessus du footer */
}

footer p {
    margin: 0;
    font-size: 1em;
}
